@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.75rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #444444 !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #767676 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #996100;
  color: #996100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #444444 !important;
}
.text-secondary {
  color: #ffa200 !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #767676 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #111111 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #434343 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #767676;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #444444;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b7b7b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #444444;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #444444;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #444444;
  border-bottom-color: #444444;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #444444 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffa200 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23444444' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rYpuAsUTEC .nav-item:focus,
.cid-rYpuAsUTEC .nav-link:focus {
  outline: none;
}
.cid-rYpuAsUTEC .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
  background: none;
}
.cid-rYpuAsUTEC .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-rYpuAsUTEC .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-rYpuAsUTEC .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rYpuAsUTEC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rYpuAsUTEC .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rYpuAsUTEC .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rYpuAsUTEC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rYpuAsUTEC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rYpuAsUTEC .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rYpuAsUTEC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rYpuAsUTEC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rYpuAsUTEC .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rYpuAsUTEC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rYpuAsUTEC .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rYpuAsUTEC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rYpuAsUTEC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rYpuAsUTEC .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rYpuAsUTEC .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rYpuAsUTEC .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rYpuAsUTEC .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-rYpuAsUTEC .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-rYpuAsUTEC .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rYpuAsUTEC .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-rYpuAsUTEC .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rYpuAsUTEC .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rYpuAsUTEC .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rYpuAsUTEC .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rYpuAsUTEC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rYpuAsUTEC .dropdown-item.active,
.cid-rYpuAsUTEC .dropdown-item:active {
  background-color: transparent;
}
.cid-rYpuAsUTEC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rYpuAsUTEC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rYpuAsUTEC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rYpuAsUTEC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #444444;
}
.cid-rYpuAsUTEC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rYpuAsUTEC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rYpuAsUTEC ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rYpuAsUTEC .navbar-buttons {
  text-align: center;
}
.cid-rYpuAsUTEC button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rYpuAsUTEC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rYpuAsUTEC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rYpuAsUTEC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rYpuAsUTEC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rYpuAsUTEC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rYpuAsUTEC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYpuAsUTEC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rYpuAsUTEC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rYpuAsUTEC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYpuAsUTEC .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rYpuAsUTEC a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rYpuAsUTEC .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rYpuAsUTEC .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rYpuAsUTEC .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-rYpuAsUTEC .nav-link:hover,
.cid-rYpuAsUTEC .dropdown-item:hover,
.cid-rYpuAsUTEC .icons-menu .mbr-iconfont:hover {
  color: #c1c1c1 !important;
}
.cid-rYpuDGfC6e {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-rYpuDGfC6e .intro-body {
  vertical-align: middle;
}
.cid-rYpuDGfC6e .mbr-section-title {
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.cid-rYpuDGfC6e .text {
  color: white;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  line-height: 1.7;
}
.cid-rYpuDGfC6e .signature {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.cid-rYpuDGfC6e .mbr-text {
  width: 100%;
  height: auto;
}
.cid-rYpuDGfC6e .video {
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
}
@media (max-width: 1199px) {
  .cid-rYpuDGfC6e .video {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .cid-rYpuDGfC6e .row {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rYpuDGfC6e .content,
  .cid-rYpuDGfC6e .video {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
.cid-rYpuFuP39V {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-rYpuFuP39V .content-row {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding: 1rem;
}
.cid-rYpuFuP39V .card-img span {
  font-size: 80px;
}
.cid-rYpuFuP39V .title {
  letter-spacing: 0.1em;
  margin: 0px;
}
.cid-rYpuFuP39V .price {
  padding: 35px 10px 10px;
  letter-spacing: 0.03em;
  text-align: center;
}
.cid-rYpuFuP39V .mbr-section-btn {
  padding: 1rem;
}
.cid-rYpuFuP39V .price-value {
  line-height: 60px;
  margin-top: 11px;
}
.cid-rYpuFuP39V .plan {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-word;
  position: relative;
  color: #333333;
}
.cid-rYpuFuP39V .plan .list-group-item {
  border: none !important;
  position: relative;
  padding: 17px 10px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1.8;
}
.cid-rYpuFuP39V .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-rYpuFuP39V .plan .list-group-item:last-child::after {
  height: 1px;
}
.cid-rYpuFuP39V .plan-title {
  color: #232323;
  margin: 0px;
  letter-spacing: 0.1em;
  width: 100%;
}
.cid-rYpuFuP39V .plan-header {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #e0e0e0;
  padding: 1rem;
}
.cid-rYpuFuP39V .plan-body {
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-color: #efefef;
}
.cid-rYpuFuP39V .title,
.cid-rYpuFuP39V .card-img {
  text-align: center;
}
.cid-rYpuFuP39V .pricing-row {
  padding-top: 2rem;
}
.cid-rYpuHXCuCg {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rYpuHXCuCg a:link {
  text-decoration: none;
}
.cid-rYpuHXCuCg .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rYpuHXCuCg .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rYpuHXCuCg .inner-text {
  line-height: 3em;
}
.cid-rYpuHXCuCg .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rYpuHXCuCg .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rYpuHXCuCg .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rYpuHXCuCg .content-text,
.cid-rYpuHXCuCg .inner-text {
  color: #c1c1c1;
}
